// Home Hero

.home_hero {
	padding-top: 21.2rem;
	padding-bottom: 15rem;
	background-color: #f4f2ee;
	.home_hero_inner {
		@include flex-between;
		.left {
			width: 70%;
		}
		.right {
			width: 28%;
		}
	}
	h1 {
		font-size: 17rem;
		line-height: 1;
	}
	.home_hero_text {
		font-size: 4rem;
		max-width: 60rem;
		line-height: 1;
		margin-top: 10rem;
	}
}

// Certified Developer

.certified_developer {
	background-color: #fff;
	.certified_developer_inner {
		@include flex-between;
		@include bs;
		padding: var(--space-1) var(--space-3) 0 var(--space-1);
		border-radius: 9rem;
		transform: translateY(-4.8rem);
		background-color: #fff;
		.left {
			width: 37%;
			padding: 10rem 0 var(--space-2) 7.5rem;
			background-color: #175260;
			border-radius: 3.2rem;
			transform: translateY(--space-2);
			margin-top: -5rem;
			img {
				height: 100%;
			}
		}
		.mid {
			width: 37%;
			margin-left: auto;
			margin-right: 7rem;
			p {
				font-size: 2.4rem;
			}
			.intro_title {
				margin-bottom: var(--space-3);
			}
		}
		.right {
			width: 16.4rem;
			display: flex;
			align-items: flex-end;
			padding-bottom: 3.2rem;
		}
	}
}

// Project Manager

.project_manager {
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,242,238,1) 25%, rgba(244,242,238,1) 75%, rgba(255,255,255,1) 100%);
}


.project_manager_box {
	@include bs;
	border-radius: 4rem;
	height: 100vh;
	background-color: #fff;
	&:last-child {
		z-index: 9;
		position: relative;
	}
}
.project_manager_box_inner {
	@include flex-between;
	padding: var(--space-2);
	position: relative;
	.icon {
		width: 5rem;
		position: absolute;
		top: var(--space-3);
		left: var(--space-2);
		opacity: .3;
	}
	.left {
		width: 50%;
		padding-top: var(--space-1);
	}
	.right {
		width: 35%;
		border-radius: 3.2rem;
		aspect-ratio: 16 / 9;
		@include st;
		display: flex;
		align-items: flex-end;
		img {
			border-radius: 2rem;
			aspect-ratio: 16 / 9;
		}
	}
	&:hover {
		.right {
			padding: 1px;
			img {
				border-radius: 4rem;
			}
		}
	}
}


// Speaker

.conference_speaker  {
	.st_intro {
		text-align: center;
		flex-direction: column;
		margin-bottom: var(--space-3);
		.intro_title {
			margin-inline: auto;
			width: 100%;

		}
	}
}

.conf_grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3.2rem;
	figure {
		position: relative;
		height: auto;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(19, 86, 107, .6);
			border-radius: 10px;
			opacity: 0;
			@include st;
		}
		&:nth-child(1), &:nth-child(3) {
			margin-top: 7.5rem;
		}
		&:nth-child(2), &:nth-child(4) {
			margin-bottom: 7.5rem;
		}
		&:nth-child(6), &:nth-child(8) {
			margin-top: -7.5rem;
			margin-bottom: 7.5rem;
		}
		img {
			aspect-ratio: 1 / 1;
			border-radius: 1rem;
		}
		figcaption {
			z-index: 2;
			width: 90%;
			left: 5%;
			text-align: center;
			position: absolute;
			margin-inline: auto;
			top: auto;
			@include st;
			box-sizing: border-box;
			line-height: 1;
			bottom: 0;
		}
		h3 {
			font-weight: 600;
			font-size: 16px;
			background-color: rgba(232, 247, 235, 1);
			padding: 15px 26px;
			border-radius: 8px;
			@include st;
			font-weight: 500;

		}
		p {
			opacity: 0;
			margin: 0;
			color: #fff;
			@include st;
		}
		&:hover {
			&::before {
				opacity: 1;
			}
			figcaption {
				bottom: 2rem;
				h3 {
					background-color: rgba(232, 247, 235, 0);
					color: #fff;
					font-size: 18px;
					padding-inline: 0;
				}
				p {
					font-size: 16px;
					opacity: 1;
					margin-bottom: 1.6rem;
				}
			}
		}
	}
}


// Mentorship

.mentorship  {
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,242,238,1) 50%);
	.st_intro {
		margin-bottom: var(--space-3);
	}
	.st_tabs_nav {
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			@include bs;
			border-radius: 50px;
			position: relative; /* Added for slider positioning */
		}
		li {
			display: inline-block;
			width: 25%;
			text-align: center;
			border-radius: 50px;
			position: relative; /* Ensure stacking context for text over slider */
			z-index: 2; /* Ensure text stays above the slider */
			a {
				display: block;
				padding: 1.5rem 2rem;
				color: #000;
				font-size: 18px;
				font-weight: 500;
				@include st;
			}
			&.active {
				a {
					color: #fff;
					font-size: 18px;
				}
			}
		}
		.slider {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			background-color: #050406;
			border-radius: 50px; /* Matches li border-radius for smooth edges */
			transition: all 0.3s ease;
			width: 0; /* Initial width for animation */
			z-index: 1; /* Sits below the text */
		}
	}

	.mentorship_tabs {
		@include bs;
		padding: var(--space-2) var(--space-1) 0 var(--space-1);
		border-radius: 9rem;
		background-color: #fff;
	}

	.st_tabs_content {
		border-top-left-radius: 0;

		.st_tab {
			transform: translateY(var(--space-2));

			.st_tab_inner {
				@include flex-between;
				align-items: center;

				.left {
					width: 40%;
					img {
						object-position: bottom;
						aspect-ratio: 1 / 1;
						border-radius: 3.2rem;
					}
				}
				.right {
					width: 50%;
					max-width: 68rem;
					padding-bottom: var(--space-2);
				}
			}
			&:not(:first-child) {
				display: none;
			}
		}
	}

    @include mob-only {
        &.stack_tabs {
            ul {
                flex-direction: column;
                li {
                    width: 100%;
                    &.active {
                        order: 1;
                    }
                }
            }
        }
    }
}
