
// Home Hero

.home_hero {
	padding-top: var(--space-2);
	display: flex;
	box-sizing: border-box;
	z-index: 9;
	position: relative;
	background-color: #dadada;
	@include mob-only {
		padding-top: var(--space-4)
	}
	@include limbo-min {
		min-height: calc(100svh - 70px);

	}
	.hero_socials {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-top: auto;
		padding-bottom: var(--space-4);
		.logo {
			height: 32.5px;
			object-fit: contain;
			object-position: left
		}
		@include limbo-min {
			gap: 7rem;
			max-width: 75rem;
		}
		@include tab-max {
			grid-template-columns: 1fr;
			margin-top: var(--space-1);
			margin-bottom: -184px;
			max-width: 45%;
			a {
				width: fit-content;
			}
			.logo {
				height: 25px;
				margin-block: 5px 20px;
			}
		}
	}
	.home_hero_inner {
		@include flex-between;
		.left {
			width: calc(100% - 50rem);
			flex-direction: column;
			display: flex;
			@include tab-max {
				width: 100%;
			}
		}
		.right {
			width: 45rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			@include tab-max {
				width: 55%;
				margin-left: auto;
			}
			img {
				margin-top: auto;
			}
		}
	}
	h1 {
		font-size: 14rem;
		line-height: 1;
		letter-spacing: -5px;
		@include tab-max {
			font-size: 7.5rem;
		}
	}
	.home_hero_text {
		margin-bottom: 4.8rem;
		@include limbo-min {
			font-size: 2.5rem;
		}
		@include mob-only {
			margin-bottom: 3.2rem;
			br {
				display: none;
			}
		}
	}
}

// Certified Developer

.certified_developer {

	background-color: #f0efef;
	border-radius: 3.2rem;
	padding-block: var(--space-3);
	@include limbo-min {
		width: calc(100% - 50px);
		margin-inline: auto;
	}
	.certified_developer_inner {
		@include flex-between;
		h2 {
			margin-bottom: 3.2rem;
		}
		.left {
			width: 40%;
			display: flex;
			flex-direction: column;
			@include tab-max {
				width: 100%;
			}
			.badge_link {
				margin-top: auto;
				@include tab-max {
					display: none;
				}
				img {
					width: 17rem;
					@include st;
				}
			}
		}
		.right {
			width: 55%;
			padding: var(--space-3) 0 0 var(--space-3);
			background-color: var(--color-2);
			border-radius: 3.2rem;
			display: flex;
			img {
				border-radius: 3.2rem 0 3.2rem 0;
			}
			@include tab-max {
				width: 100%;
				margin-top: 3.2rem;
				padding: var(--space-4) 0 0 var(--space-4);
				img {
					border-radius: 1.6rem 0 1.6rem 0;
				}
			}

		}
	}
	&:hover {
		.left .badge_link {
			img {
				width: 19rem;
				margin-top: -2rem
			}
		}
	}
}

// Project Manager


.project_manager_inner  {
	@include flex-between;
	position: relative;
	.left {
		height: fit-content;
		display: flex;
		flex-direction: column;
		@include limbo-min {
			min-height: calc(100vh - 20rem);
			position: sticky;
			top: var(--space-1);
			width: 48%;
			max-width: 80rem;
		}
		@include tab-max {
			width: 100%;
		}
	}
	.st_intro {
		margin-bottom: 4.8rem;
	}
	.logos {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 3.2rem;
		padding-top: var(--space-4);
		margin-top: auto;
		@include tab-max {
			margin-block: var(--space-2);
			@include mob-only {
				grid-template-columns: repeat(3, 1fr);
				.logo {
					&:nth-child(4), &:nth-child(5) {
						display: none;
					}
				}
			}
		}
		.logo {
			height: 50px;
			object-fit: contain;
			filter: grayscale(1);
			opacity: .8;
		}
	}
	.icon {
		width: 7.5rem;
	}
	.project_manager_boxes {
		@include limbo-min {
			width: 48%;
			max-width: 70rem;
		}
		@include tab-max {
			width: 100%;
		}
	}
	.project_manager_box {
		background-color: var(--card-color);
		background-color: #f0efef;
		border-radius: 3.2rem;
		padding: var(--space-4);
		display: flex;
		flex-direction: column;
		position: relative;
		@include limbo-min {
			height: 60rem;

		}
		&:not(:last-child) {
			margin-bottom: 7.8rem;
		}
		&:first-child {
			.top {
				background-color: #1a1d22;
			}
		}
		&:nth-child(2) {
			.top {
				background-color: #111217;
			}
		}
		&:nth-child(3) {
			.top {
				background-color: #fff;
			}
		}
		.top {
			position: absolute;
			height: 10rem;
			width: 10rem;
			left: var(--space-4);
			top: var(--space-4);
			@include st;
			border-radius: 1.2rem;
			.image {
				width: 100%;
				height: 100%;
				object-fit: contain;
				display: flex;
				align-items: center;
			}
		}
		.bottom {
			margin-top: auto;
			bottom: 4.8rem;
			@include st;
			padding-top: calc(var(--space-4) + 10rem);
		}
		h3 {
			margin-bottom: 0;
		}
		p {
			font-size: 20px;
			@include mob-only {
				font-size: 18px;
			}
		}
		&:hover {
			.top {
				padding: 3.2rem;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				border-radius: 3.2rem;
			}
		}
	}
}


// Speaker

.conference_speaker  {
	background-color: #f0efef;
	padding-block: var(--space-1);
	border-radius: 3.2rem;

}
.conf_grid {
	.grid_item {
		position: relative;
		padding-block: var(--space-3);
		border-top: 1px solid rgba(2, 2, 2, 0.2);
		&:last-child {
			border-bottom: 1px solid rgba(2, 2, 2, 0.2);
		}
		@include limbo-min {
			@include flex-between;
			align-items: center;
			padding-inline: 4.8rem;
			.grid_item_text {
				width: 55%;
			}
			figure {
				width: 30%;
			}
		}

		.year {
			font-size: 18px;
		}

		img {
			border-radius: 3.2rem;
			@include st;
			z-index: 2;
			box-sizing: border-box;
			@include tab-max {
				width: 90%;
				margin-left: 5%;
			}
			@include limbo-min {
				height: calc(100% + 6.4rem);
				max-height: 90vh;
				position: absolute;
				left: 60%;
				max-width: 40%;
				aspect-ratio: 1 / 1;
				width: auto;
				top: -3.2rem;
				bottom: 0;
				opacity: 0;
			}
		}
		&:hover {
			img {
				opacity: 1;
			}
		}
	}
}


// Mentorship

.mentorship  {
	@include desk-min {
		padding-bottom: 25rem;
	}
	.st_tabs_nav {
		margin-bottom: var(--space-3);
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			position: relative; /* Added for slider positioning */
			@include mob-only {
				@include flex-between;
				flex-direction: row-reverse;
				.slider {
					display: none;
				}
				li {
					width: 48%;
					margin-right: 0;
				}
			}
		}
		li {
			display: inline-block;
			text-align: center;
			position: relative; /* Ensure stacking context for text over slider */
			z-index: 2; /* Ensure text stays above the slider */
			margin-right: 4rem;

			a {
				display: block;
				color: var(--b-color);
				font-size: 2.6;
				font-weight: 500;
				@include st;
				padding: 0;
				padding-bottom: 1rem;
			}
			&.active {
				a {
					border-color: var(--color-2);
					color: var(--t-color);
					@include mob-only {
						font-weight: 600;
					}
				}
			}
		}
		.slider {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			border-bottom: 1px solid var(--color-2);
			transition: all 0.3s ease;
			width: 0; /* Initial width for animation */
			z-index: 1; /* Sits below the text */
		}
	}
	.st_tabs_content {
		border-top-left-radius: 0;
		@include tab-max {
			width: calc(100% + 50px);
			margin-left: -25px;
		}
		.st_tab {
			.st_tab_inner {
				@include flex-between;
				align-items: flex-end;
				padding: var(--space-4) var(--space-2) 0 var(--space-2);
				border-radius: 3.2rem;
				background-color: #f0efef;
				@include limbo-max {
					flex-direction: column-reverse;
				}
				.left {
					width: 40%;
					@include desk-min {
						transform: translateY(var(--space-3));
					}
					@include limbo-max {
						width: 100%;
						margin-block: var(--space-3);
						text-align: center;
						img {
							max-width: 350px;
						}
					}
					img {
						object-position: bottom;
						aspect-ratio: 1 / 1;
						border-radius: 3.2rem;
					}
				}
				.right {
					width: 50%;
					@include limbo-max {
						width: 100%;
						h3 {
							margin-bottom: 3.2rem;
							font-size: var(--font-size-3);
						}
					}
					@include desk-min {
						max-width: 75rem;
						padding-bottom: var(--space-3);

					}
				}
			}
			&:not(:first-child) {
				display: none;
			}
		}
	}

    @include tab-max {
        &.stack_tabs {
            ul {
                flex-direction: column;
                li {
                    width: 100%;
                    &.active {
                        order: 1;
                    }
                }
            }
        }
    }
}


// Testimonials


.testimonials_inner {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 3.2rem;
	.testimonial {
		border-radius: 0 3.2rem 3.2rem 3.2rem;
		background-color: #f0efef;
		padding: var(--space-4);
		background-image: url(/wp-content/uploads/2024/12/quote-open.png);
		background-repeat: no-repeat;
		font-size: 18px;
		@include flex-between;
		.testimonial_content {
			width: 100%;
			margin-bottom: auto;
			margin-bottom: 3.2rem;
			@include mob-only {
				font-size: 16px;
			}
		}
		@include desk-min {
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {
				grid-column: span 2;
			}
			&:nth-child(4), &:nth-child(5) {
				grid-column: span 3;
			}
			&:nth-child(6) {
				grid-column: span 6;
			}
		}
		@include limbo-only {
			grid-column: span 3;
		}
		@include tab-max {
			grid-column: span 6;
		}
	}
	.person {
		font-size: 22px;
		color: #151515;
		opacity: .5;
		margin: 0;
		width: 50%;
		display: flex;
		align-items: flex-end;
		@include mob-only {
			font-size: 20px;
		}
	}
	.reference {
		position: relative;
		display: flex;
		align-items: flex-end;
	}
	.company {
		display: flex;
		align-items: flex-end;
		margin: 0;
	}
	.source {
		display: flex;
		align-items: center;
		img {
			margin-left: 8px;
			width: 95px;
		}
	}
	.reference_link {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}


// Founder

.founder {
	position: relative;
	background-color: var(--bg-1);
	border-radius: 3.2rem;
	.left {
		width: 50%;
		padding-right: var(--space-2);
		@include limbo-max {
			width: 100%;
			padding-right: 0;
			.st_intro {
				margin-bottom: var(--space-3);
			}
		}
		@include mob-only {
			.btn-2 {
				margin-top: 3.2rem;
			}
			.intro_text {
				font-size: 18px;
			}
		}
	}
	.right {
		@include desk-min {
			width: 50%;
			position: absolute;
			right: 0;
			top: var(--space-4);
			bottom: var(--space-4);
			text-align: right;
			img {
				height: 100%;
				object-position: top right;
				width: 100%;
				max-width: 88rem;
				border-radius: 3.2rem 0 0 3.2rem;
			}
		}
		@include limbo-max {
			width: 100%;
			text-align: center;
			padding-bottom: var(--space-1);
			img {
				width: 88rem;
				max-width: calc(100% - 50px);
				margin-inline: auto;
				border-radius: 3.2rem;
				aspect-ratio: 1980 / 1820;
				object-position: top;

			}
		}

	}
}
