html {
	scroll-behavior: smooth;
  }

body {
 	background-color: #dadada;
}
.container {
	width: var(--site-width);
	max-width: var(--site-max-width);
	margin-inline: auto;
}

.c-wide {
	width: var(--site-width);
	max-width: 1800px;
	margin-inline: auto;
}

.c-narrow {
	width: var(--site-width);
	max-width: 1440px;
	margin-inline: auto;
}

// Fix user agent spacings

h1, h2  {
	margin-bottom: var(--space-4);
}

.title-1 {
	font-size: var(--font-size-1);
	span {
		opacity: .6;
	}
}

.title-2 {
	font-size: var(--font-size-2);
	span {
		opacity: .6;
	}
}

.title-3 {
	font-size: var(--font-size-3);
	span {
		font-weight: 600;
		opacity: .6;
	}
}

.title-4 {
	font-size: var(--font-size-4);
}

.title-5 {
	font-size: var(--font-size-5);
}

.title-6 {
	font-size: var(--font-size-6);
}

.st_block {
	position: relative;
}

.prefix {
	font-size: 22px;
	color: #151515;
	font-weight: 500;
	opacity: .5;
	display: block;
	margin-bottom: 16px;
}


.error404 {
	article {
		text-align: center;
		img {
			width: auto;
			max-width: 30rem;
		}
		h1 {
			font-size: 20rem;
		}
		h2 {
			font-size: 5rem;
		}
		.text404 {
			font-size: 30px;
			margin-block: var(--space-4);
		}
		@include mob-only {
			h1 {
				font-size: 15rem;
			}
			.text404 {
				font-size: 25px;
			}
		}
	}
}


.wp-block-table td, .wp-block-table th {
	line-height: 1.2
}

.wp-block-table table {
	margin-bottom: 1em;
}

.hm {
	@include mob-only {
		display: none;
	}
}

picture {
	line-height: 0;
}
